.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #165394; /* Couleur de fond du footer */
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .back-logo img {
    width: 20px; /* Taille du logo */
    cursor: pointer;
  }
  