<ion-header>
  <ion-toolbar>
    <ion-title>Le bateau de Thibault</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="text-align: center; background: linear-gradient(to bottom, #87CEFA, #FFDAB9);">
  <img src="assets/images/image1.png" alt="Photo du gérant" style="border-radius: 50%; width: 150px; height: 150px; margin-top: 20px;" />
  <h1>Le bateau de Thibault</h1>
  <p>📞 06 63 99 99 78</p>
  <p>📧 <a href="mailto:lebataudeThibault&#64;gmail.com">lebataudeThibault&#64;gmail.com</a></p>
  <p>🔗 <a href="https://www.facebook.com/lebataudeThibault" target="_blank">facebook.com/lebatauxdeThibault</a></p>

  <div style="margin-top: 20px; font-style: italic;">
    <p>Qui est chaud le soleil</p>
    <p>Quand nous sommes en vacances</p>
    <p>Y a le jus, les friandises</p>
    <p>C’est le sud de la France</p>
    <p>Papa bricole au garage</p>
    <p>Maman danse la salsa longue</p>
    <p>Dans le paysage</p>
    <p>Moi, je balade mon orange</p>
    <p>Que du bonheur !</p>
    <p>Que du bonheur !</p>
  </div>

  <footer style="margin-top: 30px; font-size: 12px;">
    <p>Powered by BDK Inc.</p>
  </footer>
</ion-content>
