ion-content {
    --background: none; /* Remplace la couleur de fond par le dégradé */
  }
  
  h1 {
    color: #2b5d87;
    font-family: 'Brush Script MT', cursive;
  }
  
  p {
    color: #444;
    line-height: 1.5;
  }
  footer {
    color: #777;
  }
  ion-content {
    --background: url('/assets/images/ArrierePlan2.png') no-repeat center center / cover;
  }
  