<ion-header>
  <ion-toolbar>
    <ion-title>Bouillabaisse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Image de la recette -->
  <img src="assets/images/recettes/bouil.png" alt="Bouillabaisse" style="width: 100%; height: auto; border-radius: 8px;">
  
  <h2></h2>
  <p>
    La **Bouillabaisse** est une soupe de poisson traditionnelle de la région méditerranéenne, particulièrement populaire à Marseille. 
    Elle est préparée avec plusieurs types de poissons, des épices, des herbes et accompagnée de pain grillé avec une sauce rouille.
  </p>


  <!-- Bouton retour -->
  <ion-button expand="full" fill="clear" (click)="goBack()">Retour</ion-button>
</ion-content>
