.banner {
    text-align: center;
    margin: 20px 0;
    h2 {
      font-size: 24px;
      color: #333;
    }
  }
  
  .category-card {
    margin: 10px 0;
    border-radius: 10px;
  }
  
  .icon-avatar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  