#carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Hauteur fixe du carrousel */
  width: 100%; /* Largeur fixée à 100% de l'écran */
  overflow: hidden; /* Cache tout ce qui dépasse des dimensions */
  background-color: #f7f7f7; /* Couleur de fond */
  position: relative; /* Position pour le centrage absolu */
}

#carousel-container img {
  width: 80%; /* Largeur fixe pour remplir le conteneur */
  height: auto; /* Conserve les proportions */
  max-height: 100%; /* Limite la hauteur à celle du conteneur */
  object-fit: cover; /* Ajuste l'image pour remplir le conteneur */
  transition: opacity 1s ease-in-out; /* Animation de transition */
  position: absolute; /* Permet de superposer les images */
}
