#carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Hauteur fixe du carrousel */
  width: 100%; /* Largeur fixée à 100% de l'écran */
  overflow: hidden; 
  background-color: #f7f7f7;
  position: relative; 
}

#carousel-container img {
  max-height: 100%; 
  max-width: 100%; 
  object-fit: cover; 
  position: absolute; 
  transition: opacity 1s ease-in-out; 
}
